body {
    
    background-image:url("https://w0.peakpx.com/wallpaper/995/796/HD-wallpaper-black-dark-gradient-gray-leather-patterns-solid.jpg");
    height: 100vh;
    background-size: cover;
    color: #fff;
    
  }
  